rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This allows anyone with your project ID to read, write, and
    // delete all data in your Firestore database. This is NOT secure
    // and should ONLY be used for initial development or debugging.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
